@font-face {font-family: Modernline; src: url('https://dl.dropbox.com/s/syg86ij10a4pskd/modernline.otf'); format('embedded-opentype');}

@font-face {font-family: Hai Calif; src: url('https://dl.dropbox.com/s/bu3ymghjb9d8jlp/Hai%20California.ttf'); format('truetype');}

@font-face {font-family: Northwell; src: url('https://dl.dropbox.com/s/lmhohcweyv31q5w/Northwell.ttf'); format('truetype');}

@font-face {font-family: False Nine; src: url('https://dl.dropbox.com/s/xqp2gtw6nm8tv6q/Nectar.ttf'); format('truetype');}

@font-face {font-family: Eclipse; src: url('https://dl.dropbox.com/s/mea8nt4y1ikltxh/Eclipse%20Demo.ttf'); format('truetype');}

@font-face {font-family: Amoret; src: url('https://dl.dropbox.com/s/l8av1tmmezhr5s5/AmoretScript-Regular.ttf'); format('truetype');}

@font-face {font-family: Sunny; src: url('https://dl.dropbox.com/s/raebc1w8pwfojk7/Sunny%20Coast.ttf'); format('truetype');}

@font-face {font-family: Alcotton; src: url('https://dl.dropbox.com/s/aa4abuoesxet74s/alcotton.ttf'); format('truetype');}

@font-face {font-family: Bioweapon; src: url('https://dl.dropbox.com/s/mu4dt21l28dm0zk/BIOWEAPON.ttf'); format('truetype');}

@font-face {font-family: Cobaissi; src: url('https://dl.dropbox.com/s/5md3hbswn3132v0/COBAISSI.ttf'); format('truetype');}

@font-face {font-family: Funkturm; src: url('https://dl.dropbox.com/s/d2r58grh1lz9uen/Funkturm.otf'); format('embedded-opentype');}

@font-face {font-family: Morganite; src: url('https://dl.dropbox.com/s/7czyr56fh0zl3jx/._Morganite-Light.ttf'); format('truetype');}

@font-face {font-family: Wild Ones; src: url('https://dl.dropbox.com/s/b2oevlcnuu56kke/Wild%20Ones%20Personal%20Use.ttf'); format('truetype');}
