@font-face {font-family: Modernline; src: url('https://dl.dropbox.com/s/syg86ij10a4pskd/modernline.otf'); format('embedded-opentype');}

@font-face {font-family: Hai Calif; src: url('https://dl.dropbox.com/s/bu3ymghjb9d8jlp/Hai%20California.ttf'); format('truetype');}

@font-face {font-family: Northwell; src: url('https://dl.dropbox.com/s/lmhohcweyv31q5w/Northwell.ttf'); format('truetype');}

@font-face {font-family: False Nine; src: url('https://dl.dropbox.com/s/xqp2gtw6nm8tv6q/Nectar.ttf'); format('truetype');}

@font-face {font-family: Eclipse; src: url('https://dl.dropbox.com/s/mea8nt4y1ikltxh/Eclipse%20Demo.ttf'); format('truetype');}

@font-face {font-family: Amoret; src: url('https://dl.dropbox.com/s/l8av1tmmezhr5s5/AmoretScript-Regular.ttf'); format('truetype');}

@font-face {font-family: Sunny; src: url('https://dl.dropbox.com/s/raebc1w8pwfojk7/Sunny%20Coast.ttf'); format('truetype');}
